<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="LiteDB" connectionString="Filename=.\DB\database.db"/>
    </connectionStrings>
    <appSettings>
        <add key="templateDocx" value="\docx\template_form100o_2.docx" />
        <add key="outputDoc" value="\docx\output.doc" />
    </appSettings>
</configuration>